<div class="row">
	<div class="slogan">
		<p style="text-align: center; margin-bottom: 2em;">
			Jaunciema Ostas klubs ir domubiedru grupa, kas apvienojušies lai realizētu ieceri par ūdenssporta attīstību un aktīva, veselīga dzīves veida popularizēšanu, tīrā, sakoptā vidē, Ķīšezera krastā.
		</p>
	</div>

	<div class="separator"></div>

	<div class="weather">
		<div jo-weather></div>
	</div>
</div>

<div class="row">
	<!-- <div class="descr_slogan">
		<h3>Ostas Terase</h3>
		<p>Lai pusdienotu restorānā, nepieciešama iepriekšēja rezervācija</p>
		<p><a class="more" href="#!/reservation">Veikt rezervāciju!</a></p>
	</div> -->

	<div class="restaurant_carousel_block" ng-controller="welcome_carousel">
		<h3>Cits vilnis Jaunciema Ostā</h3>
		<ul class="carousel_buttons">
			<li ng-repeat="slide in slides" ng-class="{active: slide.active}" ng-click="slide.active = true"></li>
		</ul>
		<carousel class="restaurant_carousel">
			<slide active="slide.active" ng-repeat="slide in slides"><img ng-src="{{slide.url}}" /></slide>
		</carousel>
	</div>



</div>

<div class="row">
	<div class="descr_slogan">
		<h3>Pakalpojumi</h3>
		<p>Apsargāta laivu piestātne, Vindsērfings, Kaitbords, Autostāvvieta, Laivu ziemas glabāšana</p>
	</div>
</div>

<div class="row">
	<h3>Kā mūs atrast</h3>
	<div class="map" osta-map></div>
</div>
